.showcase-container {
  text-align: center;
    padding: 450px 10% 40px;
  margin-bottom: 80px;
    @media (max-width: 992px) {
    padding: 165px 10% 40px;
    }
     @media (max-width: 768px) {
    padding: 115px 4% 40px;
    margin-bottom: 0;
    }

  .title  {

    margin-bottom: 50px;
    color: #767676;
             @media (max-width: 768px) {
 margin-bottom: 20px;
      }
  }
    .two-lines  {
    margin-bottom: 40px;
    color: #767676;
  }

}

.showcase-col{
  display: flex;
  justify-content: center;
}

.showcase-card {
  background: #F5F5F5;
  overflow: hidden;
  padding: 10px;
  transition: all 0.3s ease;
  max-width: 423px;
  width: 100%;
  border-radius:0px;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-0.5px);  
    box-shadow: none  
  }

 
  .img-card {

    object-fit: cover;
     border-radius:0px;
     border-bottom: 0px !important;
  }

  .ant-card-body {
    display: flex;
    flex-direction: column;
    flex: 1;          
  }

  .book-title {
    margin-top: auto;  
    text-align: start;
    font-size: 21px;
    display: flex;
        height: 38px;
    overflow: hidden;
    color: #767676;
        margin-bottom: 0;
            @media (max-width: 768px) {
   font-size: 18px!important;
    }
  }

  .btn {
    font-size: 15px;
    color: #767676;
    img{
         margin: 0 10px;
    }

  }
}
:where(.css-dev-only-do-not-override-16o3jpe).ant-card .ant-card-body {
    padding: 5px;
}

.showcase-card .ant-card-body {
 padding-right: 8px !important;
 padding-left: 8px !important;
padding-top: 3px !important;
 }


 .download{
    height: auto!important;
  }
@media (max-width: 768px) {
  .showcase-card {
    width: 250px;
  
  img {
    height: 250px;
     
    object-fit: contain;
  }
  .download{
    height: auto!important;
  }
}
}

@media (max-width: 480px) {
  .showcase-card
  {
     
  
  img {
    height: 180px;
    
  }
   .download{
    height: auto;
  }
}
}

