.article-content {
  background: black;
  padding-top: 450px;
  margin-bottom: 80px;

  @media (max-width: 992px) {
    padding-top: 30vh;
    margin-bottom: 0;

    .ant-col,
    .ant-row {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  @media (max-width: 768px) {
    .ant-row.ant-row-center {
      flex-direction: column-reverse;
    }


  }
}


.article-col {
  display: flex;
  text-align: justify;
  align-items: center;
  padding: 0 7% 0 5% !important;
}


.article-div {
  width: auto;
}

.article-title {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
  color: #b4b4b4;
  margin-bottom: 2rem;
}

.article-text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 31px;
  text-align: left;
  color: #d2d2d2;
}

.top-image-about-block {
  height: 600px;

  @media (max-width: 768px) {
    height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.box-video,
.box-video2 {
  display: flex;
  align-items: center;
  padding-top: 0;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}


.center-video {
  display: flex;
  justify-content: center;
  padding: 0 75px;
  margin-bottom: 80px;

  @media (max-width: 768px) {
    margin-bottom: 0;
    padding: 0;
  }

  .ant-row {
    width: 100%;

    @media (max-width: 768px) {
      row-gap: 0 !important;

      .ant-col {
        &:last-child {
          .video-div {
            margin-top: 0 !important;
          }
        }
      }

    }

  }
}

.video-div {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;

  @media (max-width: 768px) {
    min-height: auto;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 26px;

    div {
      height: 100%;
    }


  }

  video {
    margin: auto;
    width: 100%;


    @media (max-width: 768px) {
      height: 100%;

    }
  }
}

.main-image,
.overlay-image {
  transition: 0.3s;
}

.video-div:hover .overlay-image {
  transform: translate(-50%, -50%) scale(1.1);
}

.main-image {
  width: 100%;
  height: 468px;
  display: block;

  @media (max-width: 768px) {
    height: auto;
  }

}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 128px;
  height: 98px;
  z-index: 5;

}




/* --- Tablet (max-width: 992px) --- */
@media (max-width: 1200px) {
  .article-col {
    padding: 0 5% 0 3% !important;
  }

  .article-div {
    width: 100%;
  }

  .article-title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .article-text {
    font-size: 16px;
  }

  .overlay-image {
    width: 80px;
    height: 60px;
  }
}

/* --- Mobile Landscape (max-width: 768px) --- */
@media (max-width: 768px) {
  .article-col {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }

  .article-div {
    width: 90%;
    padding-bottom: 10px;
  }

  .article-title {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .article-text {
    font-size: 15px;
    line-height: 1.8;
  }

  .box-video {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .box-video2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .overlay-image {
    width: 70px;
    height: 55px;
  }
}

/* --- Mobile Portrait (max-width: 576px) --- */
@media (max-width: 576px) {
  .article-title {
    font-size: 16px;
    margin-bottom: 25px;
    background: #424242;
    color: #ffffff;
    border-radius: 5px;
    line-height: 10px;
    padding: 14px 22px;
    min-width: auto;
    max-width: max-content;
    font-weight: 100;
  }

  .article-text {
    font-size: 14px;
  }

  .overlay-image {
    width: 55px;
    height: 45px;
  }


  .box-video {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .box-video2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }



}

/* --- Extra Small Devices (max-width: 400px) --- */
@media (max-width: 400px) {
  .article-title {
    font-size: 16px;
  }

  .article-text {
    font-size: 13px;
  }

  .overlay-image {
    width: 45px;
    height: 35px;
  }


  .box-video {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .box-video2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}


iframe {
  animation: fadeInVideo 0.4s ease-in-out;
}

@keyframes fadeInVideo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ant-row-rtl .article-text,
.ant-row-rtl .article-title {
  text-align: justify;

}