.app-header_containers {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
  margin: 0 auto;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
}
.lang-submenu-popup{

  .ant-menu{
  min-width: 45px!important;
      left: -27px !important;
          right: auto !important;
  }
}
.ant-row-rtl{
  .box-page{
        padding-right: 0;
            padding-left: 115px;
  }
  .box-page .title-page{
        text-align: left;
  }
  .search__img{
    left: inherit;
        right: 151px;
  }
  .app-header__menu-Text.ant-menu-root.ant-menu-horizontal{
  left: inherit!important;
        right: 115px!important;
  }
  .en_img{
    left: inherit;
        right: 80px;
  }
 
}
.app-header__menu-home.ant-menu-root.ant-menu-horizontal {
  background: transparent !important;
  border-bottom: none !important;
  justify-content: center;
  .ant-menu-item,
  .ant-menu-submenu-title {
    padding: 0;
    color: white !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    width: 115px;
    text-align: center;
  }

  .ant-menu-item:hover,
  .ant-menu-submenu-title:hover {
    color: #fff !important;
    font-weight: 700 !important; /* ← Bold */
    background: transparent !important;
  }
}
.app-header__menu-Text.ant-menu-root.ant-menu-horizontal {
  background: transparent !important;
  border-bottom: none !important;
  justify-content: center;
      top: 15px;
    left: 110px;
    position: absolute;
  .ant-menu-item,
  .ant-menu-submenu-title {
    color: white !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
  }


}
.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  display: none !important;
}

.ant-menu-submenu-popup {
  border-radius: 0 !important;

  .ant-menu {


    padding: 0!important;
    position: absolute!important;
       right: 26px !important;
    top: 0!important;
    
  }
  .ant-menu-item {
    color: #b0b0b0 !important;
    border-radius: 0 !important;
    background: #ffffff;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.ant-menu-submenu-popup .ant-menu-item:first-child:hover {
  background: #ebebeb !important;
  color: #8f8f8f !important;
}
.ant-menu-submenu-popup .ant-menu-item:hover {
  background: #ffff !important;
  color: #b0b0b0 !important;
}

/* خط بین آیتم‌ها */
.ant-menu-submenu-popup .ant-menu-item {
  border-bottom: 1px solid #e0e0e0 !important;
}

/* حذف خط از آیتم آخر */
.ant-menu-submenu-popup .ant-menu-item:last-child {
  border-bottom: none !important;
}
.home__img {
  position: absolute;
  width: 75.08px;
  height: 75px;
  left: calc(50% - 75.08px / 2 - 0.46px);
  top: 23px;
}

.search__img {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 151px;
    top: 37px;
}

.En_text {
    width: 24px;
    height: 34px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    text-align: right;
    color: #ffffff;
    cursor: pointer;
        left: 4px;
        

      padding-inline: 0!important;

}

.en_img {
    position: absolute;
    left: 80px;
    top: 37px;
}
