/* InteriorPage.less */

.interior-page-container {

  background-color: #fff !important;
    margin-bottom: 80px;
     padding: 450px 8% 0;
         @media (max-width: 992px) {
  padding: 120px 4% 20px;
     margin-bottom: 0;
    }

  /* استایل تب‌ها */
  .interior-tabs {
    margin-top: 55px !important;
    margin-bottom: 100px !important;
    align-items: center;
         @media (max-width: 768px) {
       margin-top: 5px !important;
    margin-bottom: 30px !important;
    }


    .ant-tabs-ink-bar {
      display: none !important;
    }

    .ant-tabs-nav {
      margin: 0;
      border-bottom: none !important;
    }

    .ant-tabs-nav::before {
      border-bottom: none !important;
    }

    .ant-tabs-tab {
      padding: 8px 35px;
      margin-inline: 0;
      border-radius: 0px !important;
      transition: all 0.3s;

      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      text-align: center;
      color: #616161;
          @media (max-width: 768px) {
   font-size: 12px!important;
    }
      
    }
  }

  .interior-tabs .ant-tabs-tab.ant-tabs-tab-active {
    background-color: #E9E9E9 !important;
  }

  .interior-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #616161 !important;
    
  }
  .interior-tabs .ant-tabs-tab .ant-tabs-tab-btn {
    font-weight: 100;
    color: #616161;
  }
  /* محتوای اصلی */
  .content-block {
    margin-bottom: 120px !important;
   @media (max-width: 768px) {
    margin-bottom: 50px !important;
    }
    
    .blog__image {
      display: flex;
      align-items: center;
      justify-content: center;
 
      
    }
    .blog__content {
     padding-right: 20px !important;
       @media (max-width: 768px) {
     padding-right: 5px !important;
    }
  

    }
    .even-content {
      display: flex;
      align-items: center;
      justify-content:left;
      padding-left: 50px !important;

    }

    .img-box {
      padding-right: 30px;
      padding-left: 30px;
      width: 740px !important;
         @media (max-width: 768px) {
     padding-right: 0;
      padding-left: 0;
      width: 100% !important;
    }

      img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
         cursor: pointer;
      }
      &:hover img {
        transform: scale(1.02);
      }
    }

    .text-box {
      max-width: 480px;
        height: 100%;
       width: 100%;
      .h2-box {
        margin-bottom: 50px;
        color: #767676;
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 45px;
        cursor: pointer;
         @media (max-width: 768px) {
   font-size: 18px!important;
       margin-bottom: 20px!important;
       line-height: 35px!important;
    }
      }
      .p-box {
        margin-bottom: 12px;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 31px;
        text-align: justify;

        color: #000000;
      @media (max-width: 768px) {
            font-size: 12px;
      }
      }
      .ant-btn-link {
        padding: 0;
        font-size: 14px;
        color: #010101;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        transition: all 0.3s ease !important;
        display: inline-flex;
        align-items: center;
        gap: 6px;
             @media (max-width: 768px) {
            font-size: 12px;
      }

        &:hover {
          color: black;
        }
      }
       .ant-btn-link::after {
        content: "←";
        display: inline-block;
        transition: transform 0.3s ease;
               position: relative;
    transform: rotate(180deg);
        top: -2px;
      }

    
      .ant-btn-link:hover::after {
        transform: translateX(5px) rotate(180deg); 
      }
    }
  }

  .blog__Button {
    margin-bottom: 30px;
    width: 350px !important;
    font-weight: 400;
    font-size: 17px;
    line-height: 45px;
    color: #818181;
  }

  /* واکنش‌گرایی برای موبایل */
  @media (max-width: 991px) {
    .content-block {
      .blog__image,
      .blog__content {
        order: 0 !important;
      }
    }
  }
}


.ant-layout-rtl{
.ant-btn-link::after{
    transform: rotate(0deg)!important; 
        top: 0!important;
  }
  .ant-btn-link:hover::after {
        transform: translateX(-5px) rotate(0deg)!important; 
      }
}