
.home__content {
  text-align: right;
  padding-bottom: 30px;
  height: 100vh!important;
      position: relative;
}

.home__title {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  white-space: nowrap;
  margin-bottom: 6px; 
}

.home__text {
  color: white!important;
  font-style: normal!important;
  font-weight: 300!important;
  font-size: 28px!important;
  text-align: right!important;
  white-space: nowrap!important;
  margin-top: 0!important;
}

.home__button {
  background: transparent !important;
  border: 1px solid white;
  color: white !important;
  font-size: 17px;
  cursor: pointer;
  height: 38px !important;
  width: 170px !important;
  border-radius: 0;
  &:hover {
    background: #000 !important;
      border: 1px solid #000!important;

  }
}


 
     .brand-scale-container .slick-active{
            height: 5px;
    
      &::after{
        background-color: #000;

      }  }

 .ant-carousel {
        top: 0;
        right: 0;
        color: black;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .home-main{
         position: relative;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100vh;
  // padding: 9rem 16rem;
z-index: 0;
      }

      .brand-scale-container .slick-list , .brand-scale-container .slick-slider , .brand-scale-container .slick-slide ,.home__content , .brand-scale-container .slick-track{
        height: 100%;
      }

      .home__content img{
        position: absolute;
        width: 100%;
        height: 100%;
      }

          .home__content video{
position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
      }

      .content{
        position: absolute;
      bottom: 20%;
    left: 14%;
      }
      .ant-layout-rtl{
              .content{
   left: inherit;
   right: 14%;
              }
      }
      