.home {
  position: relative;
  background: url("../../../../assets/home/intro.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100vh;
  padding: 9rem 16rem;
}

.home__content {
  text-align: right;
  max-width: 300px;
  padding-bottom: 30px;
}

.home__title {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  white-space: nowrap;
  margin-bottom: 6px; 
}

.home__text {
  color: white;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  text-align: right;
  white-space: nowrap;
  margin-top: 0;
}

.home__button {
  background: transparent !important;
  border: 1px solid white;
  color: white !important;
  font-size: 17px;
  cursor: pointer;
  height: 38px !important;
  width: 170px !important;
}
