.explore {
  width: 85%;            
  height: 460px;
  background: #F7F7F7;  
  padding: 100px 0;
  margin: 0 auto;     
  display: flex;
  justify-content: center;
  align-items: center;     

  .explore__content {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }

  .explore__title {
    font-weight: 400;
    font-size: 21px;
    line-height: 45px;
    color: #767676;
    margin-bottom: 40px;
  }

  .explore__subtitle {
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    color: #6B6B6B;
  }

  .explore__more {
    margin-top: 80px;
    font-weight: 700;
    font-size: 14px;
    line-height: 45px; 
    color: #797979;
     transition:  0.3s ease;
    display: inline-flex;
    gap: 10px;
         .anticon{
           transition: all 0.3s ease !important;

    transform: translateX(0) rotate(180deg)!important


      }
    &:hover {
      color: black;
      .anticon{
                position: relative;
 transition: all 0.3s ease !important;

    transform: translateX(5px) rotate(180deg)!important;

      }
    }
   
  }
}


.ant-layout-rtl{
   .explore__more {
      .anticon{
    transform: translateX(0) rotate(0deg)!important


      }
 &:hover {
      .anticon{
          transition: all 0.3s ease !important;

    transform: translateX(-5px) rotate(0deg)!important
      }
    }
  }
}
