.blog {
  padding: 120px 9%;
    @media (max-width: 991px) {
  padding: 55px 4%;
    }

  .first__title {

    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    h2{
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #767676;
    margin-bottom: 50px;
    }
  }

  .blog__Row {
      margin: 0!important;
    margin-bottom: 40px!important;
    align-items: center;
      display: flex;
      
  }
    .blog__Row2 {
      margin-bottom: 10px;
    align-items: center;
  }


.blog__Row.reverse {
  flex-direction: row-reverse;
  margin: 0!important;
  .blog__image {
      justify-content: flex-end;
       @media (max-width: 991px) {
 justify-content: center;
    }
  }
}


  .blog__image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
padding: 0 !important;
a{
      width: 84%;

    img {
       width: 100%;
    height: auto;
    object-fit: cover;
    }
    }
    @media (max-width: 991px) {
 justify-content: center;
 a{
     width: 90%;
 }
    }

 @media (max-width: 768px) {
 a{
     width: 100%;
 }
    }



  }

  .blog__content,
  .blog__content2 {
    text-align: justify;

   padding: 30;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
  }

  .blog__Row2 .blog__image{  
justify-content: flex-end;
  }
  .blog__content {
 
    padding-left: 50px;

    .blog__box1{
      width: 400px;
          @media (max-width: 991px) {
margin: auto;
    width: 90%;
    }
      @media (max-width: 768px) {
    width: 100%;
    }

    }
  }

  .blog__content2 {

        .blog__box2{
      width: 400px;
      margin-left: auto;
                @media (max-width: 991px) {
margin: auto;
    width: 90%;
    }
     @media (max-width: 768px) {
    width: 100%;
    }
    }

  }

  .blog__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #767676;
    display: block;
    line-height: 40px;
        margin-top: 60px;
     @media (max-width: 768px) {
       font-size: 16px;
               margin-top: 0;

     }
  }

  .blog__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    color: #6b6b6b;
    margin-bottom: 15px;
         @media (max-width: 768px) {
    margin-bottom: 0;


         }
  }

  .blog__more {
    font-weight: 700;
    font-size: 14px;
    line-height: 45px;
    color: #010101;
    display: inline-flex;
    align-items: center;
    gap: 5px;
          
.anticon{
  position: relative;
transition: all 0.3s ease !important;
              transform: translateX(0) rotate(180deg)!important
}

    &:hover {
      color: black;
      .anticon{
                position: relative;
          transition: all 0.3s ease !important;

    transform: translateX(5px) rotate(180deg)!important
      }
    }
  }

  .blog__Button {
  margin-top: 80px;
    width: 350px !important;
    font-weight: 400;
    font-size: 17px;
    line-height: 45px;
    color: #818181;

      @media (max-width: 991px) { /* lg */
  margin-top: 30px;
      }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Media Queries بر اساس Ant Design Breakpoints */
  @media (max-width: 1599px) { /* xxl */

    .blog__content2 {
      padding: 20px 0 20px 0  !important;
    }
        .blog__content{
                padding: 20px 0 20px 0  !important;

        }
  }

  @media (max-width: 1199px) { /* xl */
    .blog__content,
    .blog__content2 {
      padding: 30px 30px;
    }

    .blog__image img {
      max-width: 650px;
    }
  }

  @media (max-width: 991px) { /* lg */
    .blog__Row {
      flex-direction: column;
      text-align: center;
    }

    .blog__content,
    .blog__content2 {
      padding: 20px 20px;
    }

    .blog__image img {
      max-width: 100%;
    }
  }

  @media (max-width: 767px) { /* md */
    .blog__title {
      font-size: 16px;
    }
    .blog__text {
      font-size: 14px;
    }
    .blog__Button {
      width: 100%;
       line-height: 25px!important;
    }
  }

  @media (max-width: 575px) { /* sm */
    .blog__content,
    .blog__content2 {
      padding: 15px 15px;
    }
    .blog__title {
      font-size: 16px;
    }
    .blog__text {
      font-size: 13px;
    }
  }
}


.ant-layout-rtl{
        .blog__box2{
      margin-left: inherit;
            margin-right: auto;

        }
   .blog__more {
      .anticon{
    transform: translateX(0) rotate(0deg)!important


      }
 &:hover {
      .anticon{
          transition: all 0.3s ease !important;

    transform: translateX(-5px) rotate(0deg)!important
      }
    }
  }
}

