.app-button {
  width: 8rem ;
  height: auto !important;
  padding: 0.6rem 0 !important;
  border-radius: 2px !important;
    border: 1px solid #AFAFAF!important;
color: #818181;
  text-transform: uppercase;


  &:hover {
    background-color: #000!important;
    color: #fff!important;
    border: 1px solid #000!important;
  }
}

@media only screen and (min-width: 576px) {
  .app-button {
    height: 2.4rem !important;
    padding: 0.8rem 25px !important;
  }
}
