@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Yekan Bakh FaNum/TTF/YekanBakhFaNum-Light.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Yekan Bakh FaNum/TTF/YekanBakhFaNum-Regular.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Yekan Bakh FaNum/TTF/YekanBakhFaNum-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'YekanBakhBold';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Yekan Bakh FaNum/TTF/YekanBakhFaNum-Bold.ttf') format('truetype');
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Yekan Bakh FaNum/TTF/YekanBakhFaNum-ExtraBold.ttf') format('truetype');
}

// Color
@gradient-bg: linear-gradient(to right,#5533ff 40%,#25ddf5 100%);
@card-shadow: 0 0 25px 0 rgba(0,0,0,0.2);

@font-color: #5e629c;
@footer-color: #180E29;

@border: 1px solid #ddd;

// Font
@primary-font: 'YekanBakh', sans-serif;

//Size
@header-size: 80px;
