.img-hover-trigger {
  display: inline-block;
}

.trigger-img {
  width: 100%;
  max-width: 160px;
  cursor: pointer;
}

.ant-modal{
    bottom: 0 !important;
    position: fixed;
    right: 0;
    width: 100% !important;
    min-width: 100%;
    top: 129px;

}

.image-hover-modal .ant-modal-content {
  background: #121212e6 !important;
  box-shadow: none;
  padding-inline: 5% !important;
}

.img-hover-modal-box {
  background: transparent;
  padding: 34px;
  box-shadow: none;
  text-align: left;
  color: #fff;
}

.modal-title p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}

.modal-divider {
  border-color: rgba(255, 255, 255, 0.3);
}

.menu-grid {
  display: flex;
  flex-flow: column wrap;       
  height: 335px;               
     gap: 25px 0;
  direction: rtl;
  align-content: flex-start;
}

.menu-column {
  width: calc(100% / 5);
  box-sizing: border-box;
}

.menu-column-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  margin-bottom: 12px;
  white-space: nowrap;
}

.menu-column-title img {
  width: 20px;
  height: 20px;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin-bottom: 8px;
}

.menu-item-link {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease;
  display: block;
  text-align: right;
      padding-right: 30px;
}

.menu-item-link:hover {
  color: #fff;
}

.ant-modal-wrap-rtl{
  .menu-item-link{
    text-align: left;
        padding-right: inherit;
            padding-left: 30px;
  }
.menu-column-title{
 justify-content: flex-start;
    flex-direction: row-reverse;
}
.ant-row{
    flex-direction: row-reverse;
}
   
}
