.brands-page {
  text-align: center;
padding: 450px 10% 40px;
    margin-bottom: 80px;
       @media (max-width: 768px) {
 padding: 32vh 4% 40px;
     margin-bottom: 0;
    }
}

.brands-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 45px;
  color: #767676;
}

.brands-subtitle {
  font-size: 15px;
  color: #000000;
  max-width: 990px;
  margin: 0 auto 40px;
  line-height: 31px;
  margin-bottom: 100px;
  font-weight: 100;
    @media (max-width: 768px) {
  margin-bottom: 10px;

    }
}

.brand-card {
  text-align: left;
  padding: 10px 20px;
  justify-content: center;
  display: flex;
  border: none;
  @media (max-width: 768px) {
      padding: 10px 0;
    }
  .ant-card-body{
    @media (max-width: 768px) {
    width: 100%;
    }
  
}
}
.brand-box {
  margin-bottom: 10px;
  width: 200px;
  height: auto;
}
.brand-logo {
  max-width: 100% !important;
  max-height: 100%  !important;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 20px !important;
    display: block;
}

.logos{
    max-width: 160px !important;
  max-height: 70px !important;
}

.brand-title {
  text-align: start;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 50px;
  line-height: 45px;
  text-align: left;
  color: #767676;
    max-width: auto;
    margin: auto;
    

}

.brand-text {
  text-align: start;
  color: #737373;
  font-weight: 300;
  font-size: 15px;
    text-align: left;
  line-height: 31px;
  max-width: 350px;
  margin: 0 auto;
  min-height: 60px;
      overflow: hidden;
    height: 60px;
}

.brand-more {
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 45px;
  text-align: start;
  color: #010101 !important;
          display: flex;
    width: 100%;
        flex-direction: row !important;
    justify-content: flex-start!important;
    margin-top: 10px;

  &:hover {
    color: black !important;
  }

  &::after {
    content: "←";
    display: inline-block;
    transition: transform 0.3s ease;

   transform: rotate(0deg);
        top: -2px;
  }
   &:hover::after {
        transform: translateX(5px) rotate(0deg); 
      }

  &.english {
    &::after {
      content: "→";
      display: inline-block;
      margin-right: 5px;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: translateX(+5px);
    }
  }
}

/* ----------- ریسپانسیو ----------- */

@media (max-width: 992px) {
  // md / lg
  .brand-logo {
    width: 130px;
  }
}

@media (max-width: 576px) {
  // xs
  .brands-title {
    font-size: 18px;
  }

  .brands-subtitle {
    font-size: 14px;
  }

  .brand-logo {
    width: 110px;
  }

  .brand-text {
    font-size: 13px;
  }
}
.ant-layout-rtl{
  .brand-title ,  .brand-text , .brand-card{
    text-align: right!important;
  }
  .brand-more{

    flex-direction: row !important;
    justify-content: flex-start!important;
  }
  .brand-more:after{
    transform: rotate(0deg)!important;
        top: 0!important;
  }
  .brand-more:hover::after {
        transform: translateX(-5px) rotate(0deg)!important; 
      }
}