.showcase-container {
  width: 100%;
  padding: 50px 40px;
  margin-bottom: 80px;
}

/* --- Header Section --- */
.header-row {
  margin-top: 40px;
  margin-bottom: 100px;
    text-align: right;
}

.title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: right;
  line-height: 45px;
  color: #767676;
    max-width: 1000px;
}

.text {
  text-align: right;
  margin-bottom: 25px;
  max-width: 1000px;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.btn-box-brand-products{
 max-width: 1000px;
}

.btn-more-brand-products {

  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 45px;

  color: #010101 !important;

  &:hover {
    color: black !important;
  }

  &::after {
    content: "←";
    display: inline-block;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: translateX(-5px);
  }
  
  &.english {
    &::before {
      content: "←";
      display: inline-block;
      margin-right: 5px; 
      transition: transform 0.3s ease;
    }

    &::after {
      content: none; 
    }

    &:hover::before {
      transform: translateX(-5px);
    }
  }
}


/* Right Logo */
.logo-col {
  text-align: center;
}

.grid-box-brand-products{

  max-width: 1600px;
  margin: auto;
}

.logo-box {
  padding: 40px;
  width: 100% !important;
  display: flex;
  justify-content:flex-end;
}

.brand-logo {
  width: 100% !important;
  max-width: 460px !important;
  height: 100% !important;
  max-height: 160px !important;
  object-fit: contain;
}

/* --- Image Cards --- */
.img-card {
  display: flex;
  flex-direction: column;
  align-items:start;
   max-width: 500px;
border-bottom: 1px solid #D2D2D2;
margin-bottom: 15px;
}

.img-card img {
  width: 100%;
  max-width: 500px;
  height: 208px;
  object-fit: cover;
 
}

.card-title {
font-weight: 800;
font-size: 23px;
line-height: 45px;
color: #767676;
cursor: pointer;
  text-align: left;

}

.card-info {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;   // عنصر اول سمت راست، عنصر دوم سمت چپ
  align-items:center;          // وسط‌چین عمودی
  width: 100%;
  text-align: left;
}
.card-arrow {
    margin-top: 8px;
  font-size: 20px;

  &:hover {
    color: black !important;
    transform: translateX(-5px);
    cursor: pointer;
  }
}
/* --- Responsive Adjustments --- */
@media (max-width: 768px) {
  .logo-col {
    margin-top: 20px;
  }

  .img-card img {
    max-width: 100%;
    height: 170px;
  }
}

.ant-layout-rtl{

.top-title , .black-title-sec  , .black-text-sec  , .card-title  , .card-text{
  text-align: right;
}
.top-text-box {
  margin-right: 30px;
}

}



