@import "antd/dist/reset.css";
@import "../styles/main.less";

html {
  scroll-behavior: smooth;
    overflow-x: hidden !important;
}

main {
      background: #fff;
}

body {
  font-family: @primary-font;
}

.wrapper {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
}
