.showcase {
  margin: 200px 0 0;
  text-align: center;
   @media (max-width: 768px) {
   margin: 100px 0 0;
    }

  .showcase__title {
    font-size: 22px;
    font-weight: 700;
    color: #777;
  }

  .showcase__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    color: #777;
  }

  .showcase-slider-track {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }

  .showcase-slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 ;
    white-space: nowrap;
    flex:100%;
    max-width: 100%;

    .showcase-img-wrapper {
      img {
        width: 75px;
        height: 75px;
        object-fit: contain;
        margin: auto;
        transition:
          transform 0.3s ease,
          opacity 0.4s ease;
      }

      img.hovered {
        transform: scale(1.02);
        opacity: 1;
        filter: invert(1);
      }

      p {
        position: relative;
        margin-top: 15px;
        font-size: 15px;
        text-align: center;
        color: #888;
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.4s ease;
        text-align: center;
          @media (max-width: 992px) {
   opacity: 1;
           transform: translateY(0);

    }
      }

      p.show-text {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
