.blog-details-container-detail {
  padding: 20px;
      background: #fff;
  margin-top: 40px;

  /* محتوای اصلی */
  .content-block-detail {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 15px 8%;
.ant-row {
    align-items: flex-start;
}
    .blog__image-detail {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .blog__content-detail {
    display: flex;
      align-items: center;
    }
    .img-box-detail {
      width: 100%;
      height: 450px;
      .imgs-detail {
       width: 100%;
        height: 450px;
        margin: 0 auto;
        display: block;
        object-fit: cover;
      }

      .custom-dots {
        bottom: -20px;
        width: 90%;
    margin: auto;
     
      }

      .custom-dots li button {
        background: black;
        opacity: 1;
        transition: all 0.3s ease;
      }

      .custom-dots li.slick-active button {
        background: black;
        opacity: 1;
        height: 6px;
            position: relative;
    top: -2px;
      }
      .slick-active{
            // height: 5px;
    
      &::after{
        background-color: #000;

      }  }

      .ant-carousel {
        top: calc(100% + 20px);
        color: black;
      }
    }

  

    .text-box-detail {
      padding: 40px 40px 40px 40px;
      text-align: left;
      .title-text-box-detail {
        font-size: 25px;
        margin-bottom: 30px;
        color: #767676;
        line-height: 61px;
        font-weight: 800;
        text-align: left;
      }

      .title-dec-box-detail {
        font-weight: 300;
        font-size: 15px;
        line-height: 31px;
    text-align: justify !important;
        color: #000000;
        margin-top: 50px;
      }
    }
  }
  .item-box-detail-detail {
    /* ----rtl---*/
    direction: ltr;
    text-align: left !important;
    display: grid;
    grid-template-columns: 145px 1fr;
    align-items: start;
    gap: 10px;
  

    .title-text-detail {
      color: #767676;
      font-weight: 700;
      font-size: 18px;
      line-height: 45px;
      text-align: left;
        margin: 0;
    }

    .dec-text-detail {
      font-weight: 300;
      font-size: 15px;
      line-height: 45px;
      text-align: left;
      color: #6b6b6b;
        margin: 0;
    }
  }

.custom-bottom-arrows{
  display: flex;
  margin-top: 8px;
justify-content:space-between;
flex-direction: row-reverse;
}

.icon-arrow{
 font-size: 20px;
  cursor: pointer;

}

.icon-arrow-btn{
 background: transparent !important;
 border: none;
 cursor: pointer;
}

  /* واکنش‌گرایی برای موبایل */
  @media (max-width: 991px) {
    .content-block-detail {
      .blog__image-detail,
      .blog__content-detail {
        order: 0 !important;
      }
    }
  }
}
.ant-carousel{
  position: static;
}
.product-card-detail {
  text-align: center;
  padding: 40px 20px 0;

  .title-detail {
    padding-top: 40px;
    margin-bottom: 30px;
    color: #767676 !important;
  }
  .two-lines-detail {
    margin-bottom: 40px;
    color: #767676;
    line-height: 26px;
    font-size: 15px;
    font-weight: 100;
  }
}

.showcase-card-project {
  background: #f5f5f5;
  overflow: hidden;
  max-width: 320px;
  height: auto;
  transition: all 0.3s ease;
  border-radius: 0px;
  margin: auto;

  &:hover {
    transform: translateY(-3px);
    box-shadow: none;
  }

  .ant-card-cover{
     height: 350px;
  }

  .img-card-project {
    object-fit: cover;
    border-radius: 0px;
    padding: 10px;
        width: 100%;
    height: 100%;
  
  }

  .book-title-project {
    text-align: center;
    margin-top: 0;
    color: #767676;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .showcase-card {
    width: 250px;

    img {
      height: 250px;

      object-fit: contain;
    }
  }


}

@media (max-width: 480px) {
  .showcase-card {
    img {
      height: 180px;
    }
  }
}

.image-container {
  width: 100%;
  
  padding-bottom: 20%;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
  height: 580px !important;
}

.responsive-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 580px;
  object-fit: cover;
}

.center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* وسط container */
  width: 100px;
  height: 100px;
  object-fit: contain;

  @media (max-width: 1100px) {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 768px) {
    width: 60px;
    height: 60px;
  }
}

.ant-layout-rtl{
.text-box-detail{
      padding: 40px 0 40px 80px!important;

}
.title-text-box-detail ,   .dec-text-detail ,   .title-text-detail  ,.title-dec-box-detail , .item-box-detail-detail {
  text-align: right!important;
}
  .item-box-detail-detail {
    direction: rtl;
        grid-template-columns: 100px 1fr!important;

  }
  .custom-bottom-arrows{

flex-direction: row;
}
}

.anticon{
transform: rotate(0deg)!important;
}