.showroom-page {
  width: 100%;
  padding: 40px 0px;
}

/* ---------------- بخش بالایی ---------------- */

.top-section {
  margin-bottom: 60px;
  margin-top: 50px;
}

.txt-col {
  display: flex;
  justify-content: right;
}
.top-text-box {
  margin-right: 100px;
  font-weight: 700;
  font-size: 23px;
  line-height: 45px;
  color: #767676;
}

.top-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 45px;
  text-align: right;
  max-width: 480px;
}

.top-text {
  text-align: right;
  color: #000000;
  font-weight: 300;
  font-size: 15px;
  line-height: 31px;
  max-width: 480px;
  min-height: 60px;
}

.top-image {
  width: 591px;
  height: 492px;
}


.grid-section {
  margin-top: 10px;
}

.grid-box {
  display: flex;
  justify-content: center;
}

.grid-card {
  text-align: right;
  box-shadow: none;
  border: none;
  max-width: 430px;
  margin: 28px;
}

.card-img {
  width: 100%;
  object-fit: cover;
}

.card-title {
  padding-top: 8px;
  font-weight: 600;
  font-size: 19px;
  line-height: 45px;
  text-align: right;
  color: #767676;
  margin-bottom: 0px;
}
.card-text {
  font-weight: 300;
  font-size: 15px;
  color: #737373;
  padding-top: 0px;
  margin-top: 0px;
}
.stack-space {
  height: 5px;
}

@media (max-width: 768px) {
  .stack-space {
    height: 32px;
  }
}

/* ---------------- ریسپانسیو ---------------- */

@media (max-width: 992px) {
  .top-title {
    font-size: 20px;
  }
  .top-text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .top-title {
    text-align: center;
  }
  .top-text {
    text-align: center;
  }
}
