.showroom-page {
  width: 100%;
  padding: 40px 0px;
      background: #fff;
     margin-bottom: 80px;
}

/* ---------------- بخش بالایی ---------------- */

.top-section {
  margin-bottom: 60px;
  margin-top: 50px;
}

.txt-col {
  display: flex;
  justify-content: left;
    text-align: left;
    justify-content: flex-start;
}
.top-text-box {
  margin-right: 30px;
  font-weight: 700;
  font-size: 23px;
  line-height: 45px;
  color: #767676;
}

.top-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 45px;
  text-align: start;
  max-width: 480px;
}

.top-text {
  text-align: start;
  color: #000000;
  font-weight: 300;
  font-size: 15px;
  line-height: 31px;
  max-width: 480px;
  min-height: 60px;
}
//section3
.service-title {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 45px;
  color: #767676;
}

.service-subtitle {
  text-align: center;
  font-size: 15px;
  color: #000000;
  max-width: 992px;
  line-height: 31px;
  margin-bottom: 5px;
  font-weight: 300;
}
.top-image {
  width: 591px;
  height: 492px;
}


.grid-section {
  margin-top: 10px;
}

.grid-box {
  display: flex;
  justify-content: center;
}

.grid-card {
  text-align: start;
  box-shadow: none;
  border: none;
  max-width: 430px;
  margin: 28px;
}

.card-img {
  width: 100%;
  object-fit: cover;
}

.card-title-sec {
  padding-top: 25px;
  font-weight: 600;
  font-size: 19px;
line-height: 30px;
    text-align: start;
    color: #767676;
    margin-bottom: 17px;
}
.card-text {
  font-weight: 300;
  font-size: 15px;
  color: #737373;
  padding-top: 0px;
  margin-top: 0px;
}
.stack-space {
  height: 5px;
}

@media (max-width: 768px) {
  .stack-space {
    height: 32px;
  }
}

/* ---------------- ریسپانسیو ---------------- */

@media (max-width: 992px) {
  .top-title {
    font-size: 20px;
  }
  .top-text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .top-title {
    text-align: center;
  }
  .top-text {
    text-align: center;
  }
}

.ant-layout-rtl{
  .txt-col {
    display: flex;
    justify-content: right;
    text-align: right;
}
.top-title , .black-title-sec  , .black-text-sec  , .card-title  , .card-text{
  text-align: start;
}
.top-text-box {

      display: flex;
    color: #767676;
    flex-direction: column;
    align-items: flex-start;
}
.top-text-box {
  margin-right: 30px;
}
.btn-more{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.btn-more::before {

  position: relative;
  transform: rotate(0deg);
}
}