// src/components/ContactBranch/ContactBranch.less
.contact-branch-container {
    justify-content: center;
    margin: 450px 0 80px;
    padding: 0 5%;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    width: 100%;
     margin-bottom: 80px;
         flex-direction: row-reverse;
            @media (max-width: 992px) {
   margin: 115px 0 0;
    }
 


  @media (max-width: 992px) {
    flex-direction: column;
    gap: 20px;
  }
  

  .contact-content {
    flex: 1;
    min-width: 300px;
    text-align: right;
  }

  .header-section {
    margin-bottom: 32px;

    .title {
      font-size: 23px;
      font-weight: bold;
      color: #767676;
      margin: 0 0 16px 0;
          text-align: left;
      
  @media (max-width: 1200px) {
         font-size: 24px;
 
  }
    @media (max-width: 768px) {
         font-size: 20px;
 
  }
    }

    .description {
      font-size: 15px;
      color: #000000;
      line-height: 1.7;
      font-weight: 100;
      text-align: left;

        @media (max-width: 1200px) {
         font-size: 14px;
 
  }
    }
  }

  .contact-info {
    margin-bottom: 14px;
        text-align: left;

    .info-item {
      margin-bottom: 16px;
          text-align: left;
    }
      span{
      font-size: 14px;
          font-weight: 100;
              text-align: left;
  }
      .info-text{
     font-size: 14px;
      color: #010101;
      font-weight: 400;
          text-align: left;
        @media (max-width: 1200px) {
         font-size: 14px;
 
  }

   
      }
  }



  .action-icons {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
    justify-content: left;

      @media (max-width: 1200px) {
         gap: 14px;
 
  }
  

    .action-icon {
      font-size: 24px;
      color: #999;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color:  #333;
        filter: brightness(0.5);
      }
    @media (max-width: 1200px) {
            font-size: 18px;
 
  }
    }
  }
:where(.css-dev-only-do-not-override-16o3jpe).ant-select .ant-select-arrow{
      left: 0;
          font-size: 9px;
}
  .form-section {
    margin-top: 80px;
     @media (max-width: 768px) {
  margin-top: 20px;
     }
    .ant-select-selection-search-input , .ant-select-selection-placeholder , .ant-select-selection-item{
          font-size: 11px;
          color: #ACACAC;
          padding: 0;
    }
    .form-row {
      margin-bottom: 24px;
      display: flex;
      gap: 20px;
      flex-wrap: nowrap;
        @media (max-width: 768px) {
   
          display: flex;
    flex-direction: column;
    }
      
      .input-group {
        flex: 1;
        min-width: auto;
        text-align: right;
        
                
        &.half {
          flex: 1 1 45%;
                  @media (max-width: 768px) {
   flex: 100%;
      max-width: 100%;
                  }
         
        }
        

        .input-text{
          width: 100%;
          font-size: 11px;
          color: #ACACAC;
          transition: border-color 0.3s;
          text-align: left;
            border-color: transparent transparent #939393 transparent;

        
        }

        textarea {
          resize: vertical;
           font-size: 11px;
                     color: #ACACAC;

        }
      }
    }
  .btn{
    text-align: left;
  }
    .submit-btn {
     text-align: left;
     background: #E9E9E9;
    color: #616161;
      border: none;
      padding: 14px 32px;
      font-size: 13px;
      cursor: pointer;
      transition: background 0.3s;
          display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: inherit;
    &:hover{
      background-color: #000;
      color: #fff;
    }

    }
  }

  .map-section {
  flex: 1;
    min-width: 300px;
    height: 550px;
    position: relative;
   
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);

    @media (max-width: 992px) {
      height: 400px;
    }
    
  

    .map-pin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      font-size: 48px;
      color: #616161;
      pointer-events: none;
      animation: pulse 2s infinite;
      img{
        width: 80px;
      }
    }
  }
}
 .input-group input{
  height: 32px;
 }

@keyframes pulse {
  0%   { transform: translate(-50%, -100%) scale(1); }
  50%  { transform: translate(-50%, -100%) scale(1.1); }
  100% { transform: translate(-50%, -100%) scale(1); }
}
  .submit-btn .anticon{
        position: relative;
    transform: rotate(180deg)!important;
    top: 0;
    left: -5px;
  }

.ant-layout-rtl{
  .custom-select {
 &::after {
right: inherit;
  left: 6px;
  }
}
    .action-icons {
         justify-content: right;
    }
  .header-section .title ,  .header-section .description , .contact-info ,.input-text , .contact-info .info-text{ 
        text-align: right!important;
            direction: rtl!important;
  }
  .contact-branch-container .action-icons{
    justify-content: flex-start;
  }
 .ant-select .ant-select-arrow{
        right: inherit;
        left: 0;
  }
  .contact-branch-container .form-section .btn{
    text-align: left;
  }
  .submit-btn .anticon{
        position: relative;
    transform: rotate(0deg)!important;
    top: 0;
    right: -5px;
  }
.submit-btn{
  flex-direction: row-reverse!important;
    justify-content: flex-end!important;
    margin-right: auto!important;
    margin-left: inherit!important;
}
 
}

.ant-select-selector{
      border-color: transparent transparent #939393 transparent!important;
}

.custom-select {
  appearance: none!important;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  background: none;
  &::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url("../../../assets/icon/arrow.png") no-repeat center;
  background-color:#fff;
  pointer-events: none;
}
}

.ant-select-arrow{
  display: none;
}