.notfound-container {
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start; // ✔ اصلاح شد
  text-align: center;
    margin-top: 354px;

  .notfound-content {
    position: relative;

    .error-number {
      font-size: 300px;
      font-weight: 700;
              font-family: sans-serif;

      color: #333;
    }

    .error-texts {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .fa-text {
        font-size: 25px;
           margin-bottom: 15px;
      }

      .en-text {
        font-size: 30px;
        font-weight: 600;
       margin-bottom: 15px;
      }

      .ant-btn-link {
        padding: 0;
        font-size: 14px;
        color: #ccc;
        &:hover{
    color: #fff;
        }
      }
    }
  }
}

/* ----------- Responsive (small) ----------- */
@media (max-width: 640px) {
  .notfound-container {
    align-items: center;

    .notfound-content {
      .error-number {
        font-size: 130px !important;
                font-family: sans-serif;

      }

      .error-texts {
        .fa-text {
          font-size: 18px !important;
        }
        .en-text {
          font-size: 18px !important;
        }
      }
    }
  }
}

/* ----------- Responsive (xl) ----------- */
@media (min-width: 1280px) {
  .notfound-container {
    .notfound-content {
      .error-number {
        font-size: 482px;
                font-family: sans-serif;

      }

      .error-texts {
        .fa-text {
          font-size: 20px!important; // ✔ اصلاح شد
        }
        .en-text {
             font-size: 60px !important;
        font-weight: 100;
        }
      }
    }
  }
}
